div#content_control_panel {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 32px;
    width: 100%;
    padding: 0.5em 0em;
    font-family: sans-serif;
    font-size: 0.9em;

    border-bottom: solid thin #999;
    background-color: rgba(255, 255, 255, 0.95);

    z-index: 1010;
}

div#content_control_panel a {
    text-decoration: none;
}

div#content_control_panel > div, div#content_control_footer > div {
    float: left;
    padding-right: 10px;
}

div#content_control_panel > div.first {
    padding-left: 10px;
}

div#content_control_panel div.content_name {
    font-weight: bold;
    padding-top: 1px;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 1.2em;
}

div#content_control_panel > div.right, div#content_control_footer > div.right  {
    float: right;
}

div#content_control_footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 32px;
    width: 100%;
    font-family: sans-serif;
    font-size: 0.9em;

    border-top: solid thin #999;
    background-color: rgba(255, 255, 255, 0.98);

    z-index: 1000;
}

div#content_control_footer > div {
    padding: 0.5em 1em;
}

div#content_history {
    display: none;
    position: fixed;
    top: 34px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    padding: 1em;
    margin: auto;
    border: solid thin #999;
    background-color: rgba(255, 255, 255, 0.98);
}

div#content_history a.close {
    float: right;
    font-size: 1.5em;
}

div#content_history > div.ch_row > div {
    float: left;
    padding-right: 20px;
    min-width: 10em;
}

div#content_history > div.ch_row > div.small {
    min-width: 3em;
}

.ch_row:after {
    clear: both;
}

.ch_row:before, .ch_row:after {
    display: table;
    content: "";
    line-height: 0;
}

div#content_history form {
    margin-bottom: 0em;
}

.redactor_box textarea {
    max-height: 500px;
}

#edit_content {
    display: none;
}

*[contenteditable=true] {
    background-color: rgba(128,128,128,0.05);
    min-height: 1em;
    min-width: 1px;
}

.textinput[contenteditable=true] {
    display: inline-block;
}


*[contenteditable=true].default {
    color: #999;
}

.content_settings h2 {
    font-size: 24px;
    margin-top: 0px;

}

