{% extends "base.html" %}
{% load url from future %}

{% block title %}{{ content.instance.title }}{% endblock %}

{% block head_css %}
        {{ block.super }}
        {% if user.is_staff %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/redactor.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/content.css"/>
        {% endif %}
{% endblock head_css %}

{% block head_js %}
        {{ block.super }}
        
        {% if user.is_staff %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/csrf.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/redactor/redactor.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/content.js"></script>
        <script type="text/javascript">
            content.content.id = '{{ content.instance.id }}';
            content.version.id = '{{ version.id }}';
            {% if edit == True %}content.edit = true;{% endif %}
            $(document).ready(function() {
                content.upload_photos_url = '{% url 'content_upload_photos' %}';
                content.recent_photos_url = '{% url 'content_recent_photos' %}';
                content.initialize();
            });
        </script>
        {% endif %}
{% endblock head_js %}

{% block containerdiv %}
    {% if edit %}
    <form method="post"> 
    {% csrf_token %}
    <input type="hidden" name="version_id" value="{{ version.id }}">
    {% endif %}
    {% include 'content/control_panel.html' %}
    {{ block.super }}
{% endblock containerdiv %}

{% block contents %}
    <h1>{{ content.instance.title }}</h1>
    {% if edit %}
    <textarea class="content" name="content">
    {{ version.html }}
    </textarea>
    </form>
    {% else %}
    <div id="show_content" class="content">
        {{ version.html|safe }}
    </div>
    {% endif %}
{% endblock contents %}
