<link href="{{ STATIC_URL }}vendor/bootstrap-wysiwyg/external/google-code-prettify/prettify.css" rel="stylesheet" />
<script src="{{ STATIC_URL }}vendor/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
<script src="{{ STATIC_URL }}vendor/bootstrap-wysiwyg/external/google-code-prettify/prettify.js"></script>
<script src="{{ STATIC_URL }}vendor/bootstrap-wysiwyg/bootstrap-wysiwyg.min.js"></script>
