{% extends "base.html" %}
{% load url from future %}

{% block title %}Create Content{% endblock %}

{% block head_css %}
        {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/content.css"/>
{% endblock head_css %}

{% block contents %}
    <h1>Create Content</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Create">
    </form>
{% endblock contents %}
