{% extends 'base.html' %}

{% block head_js %}
        {{ block.super }}

        {% if user.is_staff %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/csrf.js"></script>
        {% include 'content/editor_header.html' %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/content.js"></script>
        <script type="text/javascript">
            content.content.id = '{{ content.instance.id }}';
            content.version.id = '{{ version.id }}';
            {% if edit == True %}content.edit = true;{% endif %}
            $(document).ready(function() {
                {# content.upload_photos_url = '{% url 'content_upload_photos' %}'; #}
                {# content.recent_photos_url = '{% url 'content_recent_photos' %}'; #}
                content.initialize();
            });
        </script>
        {% endif %}
{% endblock head_js %}

{% block contents %}
    <form method="post">
    {% csrf_token %}
    {% include 'content/control_panel.html' %}

    <h1>{{ content.form.title }}</h1>

        <div class="well content_settings">
            <h2><i class="fa fa-cog"></i> Content Settings</h2>
            {% for field in content.form.non_contenteditable_fields %}
            {% include "_field.html" %}
            {% endfor %}
        </div>

    {{ content.form.content }}
    </form>
{% endblock %}


